.heading{
    font-size: 20px;
    width:100%;
    margin:0;
}

body{
    background-size: cover;
}

canvas{
    border: 5px solid white;
    top: 150px !important;
    left:350px !important;
}